
                        /* Light Mode */
:root {
  --bg-color: #F1F1F1;
  --text-color: #000000;
  --bg-btn:#282828;
  --text-color: #ffffff;
  --bg-img:#ffffff;
  --bg-modal: #FDFDFD;
  --text-color-modal: #101010;
  --bg-google-btn:#F1F1F1;
  --text-google-btn:#727272;
  --color-border-input: #7b7b7b;
  --text-login-input: #7B7B7B;
  --text-sign-btn: #FDFDFD;
  --bg-signin-btn: linear-gradient(180deg, #2C2C2C 0%, #282828 100%);
  --box-shadow-sign: 2px 0px 8px 2px #F8F8F833 inset;
}

                        /* Dark Mode */
body.dark-mode {
  --bg-color: #000000;
  --text-color: #ffffff;
  --bg-btn:#ffffff;
  --text-color: #000000;
  --bg-img:#2A2A2A;
  --bg-modal: #191919;
  --text-color-modal: #F1F1F1;
  --bg-google-btn:#222222;
  --text-google-btn:#7B7B7B;
  --color-border-input: #1e1e1e;
  --text-login-input: #727272;
  --text-sign-btn: #141414;
  --bg-signin-btn: linear-gradient(180deg, #FDFDFD 0%, #DEDEDE 100%);
  --box-shadow-sign: 2px 0px 8px 2px #18181833 inset;

}

@font-face {
    font-family: Inter Display;
    src: url(../fonts/Inter-VariableFont_opsz\,wght.ttf);
}




body {
  background: var(--bg-color);
  color: var(--text-color);
  transition: all 0.3s ease;
}

.main-nav {
    padding: 20px;
}

.menu-bar img {
  /* background: var(--bg-color); */
  padding: 12px;
  border-radius: 50%;
}

body:not(.dark-mode) .menu-bar img {
  background: #ffffff;
}

body.dark-mode .menu-bar img {
  background: #2A2A2A; /* Dark mode: dark gray background */
}


.dark-btn {
    background: none;
}

.nav-place::placeholder {
    font-family: Inter Display;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.25%;
    color: var(--Text-Secondary, #727272);
}

.nav-place {
    padding-top: 13.5px;
    border-radius: 90px;
    padding-bottom: 13.5px;
    width: 315px;
    padding-left: 44px; 
    color: var(--Text-Secondary, #727272);
}

.nav-inut {
    position: relative;
}

.serch-icon img {
position: absolute;
    top: 14px;
    left: 13px;
}

body.dark-mode .nav-place {
    background: #2A2A2A;
}

.logo{
    padding-right: 12px;
}

.menu-bar {
padding-right: 12px; 
}


.create button {
    padding: 17px 28px;
    font-family: Inter Display;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 1.25%;
    color: var(--text-color);
    border-radius: 32px;
    background: var(--bg-signin-btn);
    box-shadow: var(--box-shadow-sign);
}



.menu-bar-2 img {
  padding: 12px;
  border-radius: 50%;
  background: var(--bg-img);
}


.menu-bar-3 img {
  padding: 4px;
  border-radius: 50%;
  background: var(--bg-img);
}

.create {
    margin-right: 12px;
}

.menu-bar-2 {
    padding-right: 12px;
} 

    /* .modal-login-cont {
        width: 480px;
    } */


.modal-login {
    background: var(--bg-modal);
    padding: 64px;
    border-radius: 32px !important;
}

.modal-erfb {
    border-radius: 37px !important;
    /* margin-top: 160px;
    margin-bottom: 160px; */
}


.modale-cancel {
    background: #ffffff;
    padding: 12px;
    border-radius: 90px;
    position: absolute;
    right: 38px;
    top: 20px;
}
    
.sign h2 {
    font-family: Inter Display;
    font-weight: 600;
    font-size: 32px;
    line-height: 145%;
    letter-spacing: 0.25%;
    text-align: center;
    color: var(--text-color-modal);
}


.knkdk {
    position: absolute;
    background: var(--bg-modal) !important;
    top: -10px;
    left: 230px;
    font-family: Inter Display;
    font-weight: 400;
    font-size: 12px;
    line-height: 160%;
    letter-spacing: 0.4%;
    text-align: center;
    vertical-align: middle;
    color: var(--text-google-btn);
}

.google {
    margin-top: 40px;
}


.google .google-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Inter Display;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 1.25%;
    width: 100%;
    border: none;
    padding: 17px;
    border-radius: 90px;
    background: var(--bg-google-btn);
    color: var(--text-google-btn);
}

.google .google-btn img {
    margin-right: 8px;
}


.headidfdg {
    margin: 24px 0px;
}

.headidfdg h5 {
    font-family: Inter Display;
    font-weight: 400;
    font-size: 12px;
    line-height: 160%;
    letter-spacing: 0.4%;
    text-align: center;
    color: var(--text-google-btn);
}

.floating-input {
  position: relative;
  margin-bottom: 22px;
}

.floating-input input {
  width: 100%;
  padding: 14px 28px 13px;
  border: 1px solid var(--color-border-input) !important;
  border-radius: 32px;
  font-size: 16px;
  outline: none;
  background: var(--bg-modal);
}

.floating-input input:focus {
    background: var(--bg-modal);
    border-color: var(--color-border-input);
}

.floating-input label {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  /* color: #888; */
  background: var(--bg-modal);
  padding: 0 4px;
  pointer-events: none;
  transition: all 0.2s ease;
  
}

/* When input is focused OR has value, float the label */
.floating-input input:focus + label,
.floating-input input:not(:placeholder-shown) + label {
  top: 0;
  left: 24px !important;
  font-size: 14px;
  font-family: Inter Display;
  color: var(--text-color-modal);
  transform: translateY(-50%) scale(0.9);
}

.modallogin-inpt {
    font-family: Inter Display;
font-weight: 400 !important;
font-size: 14px !important;
line-height: 150% !important;
letter-spacing: 0.25% !important;
vertical-align: middle;
color: var(--text-login-input) !important;
}

.forget {
    font-family: Inter Display;
font-weight: 400;
font-size: 12px;
line-height: 160%;
letter-spacing: 0.4%;
text-align: center;
vertical-align: middle;
    top: 0px !important;
    left: 215px !important;
    color: var(--text-login-input) !important;
}




.sing-in {
    margin-top: 24px;
}

.sing-in .sign-btn {
    width: 100%;
    padding: 17px 0px;
    font-family: Inter Display;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 1.25%;
    color: var(--text-sign-btn);
    border-radius: 32px;
    background: var(--bg-signin-btn);
    box-shadow: var(--box-shadow-sign);
}

.need h5 {
    font-family: Inter Display;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.25%;
    color: var(--text-google-btn);
}

.sifsknu h2 {
    font-family: Inter Display;
font-weight: 700;
font-size: 14px;
line-height: 150%;
letter-spacing: 0.25%;
color: var(--text-color-modal);
}

.login-footer {
    margin-top: 16px;
}



                                    /* sign up modal buton */

.signupbotna {
    background: none;
}


.ressldt {
    margin-bottom: 40px;
}

.signupbotna  h2 {
    translate: 0px -2px;
}








@media (max-width: 768px) {
    .menu-bar {
        display: none;
    }

    .nav-inut  {
        display: none;
    }

    .modal-login {
        padding: 24px;
    }

    .modal-erfb {
    margin-top: 150px;
    margin-bottom: 145px;
    }

    .modal-login-cont {
        margin: 0px 16px;
    }

    .forget {
        left: 168px !important;
    }

    .modale-cancel {
        right: 16px !important;
    }

    .sdsd {
        background: none;
    }

    .modal-erfb {
        background: none;
    }

    .sign h2 {
        font-size: 24px;
    }

    .google {
        margin-top: 24px;
    } 

    .ressldt {
    margin-bottom: 24px;
}

    
}